<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{ link-to 'Levelling Up!' 'index' }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">{{ link-to 'IG' 'ig-knowledge' }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">{{ link-to 'Ember' 'ember' }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">{{ link-to 'Testing' 'testing' }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">{{ link-to 'Web' 'web-dev' }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">{{ link-to 'JS' 'general-js' }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">{{ link-to 'Tooling' 'tooling' }}</a>
        </li>
    </ul>
    <span class="navbar-text">
      Steve Utting
    </span>
  </div>
</nav>