
<ul class="side-bar__nav">
    <li class="side-bar__title">
        <h2>{{title}}</h2>
    </li>

    {{#each points as |point index|}}
    <li class="side-bar__nav-item">
        {{#if point.url}}
        <a href={{point.url}} target="_blank">
            {{point.shortTitle}}<span class='glyphicon glyphicon-share-alt'>*</span>
        </a>
        {{else}}
        <a href="#" target="_blank" {{action "loadPoint" index}}>
            {{point.shortTitle}}
        </a>
        {{/if}}

    </li>
    {{/each}}
</ul>
