
<ul class="side-bar__nav">
    <li class="side-bar__title">
        <h2>{{title}}</h2>
    </li>

    {{#each points as |point index|}}
    {{#if point.content}}
        <li class="side-bar__nav-item">
            {{#if point.url}}
            <a href={{point.url}} target="_blank">
                {{point.shortTitle}} 🔗
            </a>
            {{else}}
            {{link-to point.shortTitle (concat point.cat '.item') point.slug }}
            {{/if}}
        </li>
    {{/if}}
    {{/each}}
</ul>
