<div class="mdl-layout__drawer is-visible">
    <nav class="side-bar__nav">
        <span class="side-bar__title">{{title}}</span>

        {{#each points as |point index|}}
        {{#if point.content}}
            {{#if point.url}}
            <a href={{point.url}} target="_blank" class="mdl-button mdl-js-button mdl-button--primary">
                {{point.shortTitle}} 🔗
            </a>
            {{else}}
            {{link-to
                point.shortTitle
                (concat point.cat '.item')
                point.slug class="mdl-button mdl-js-button mdl-button--primary"
                }}
            {{/if}}
        {{/if}}
        {{/each}}
    </nav>
</div>